.container{
    width: 100%;
}

.container h1{
    margin-top: 40px;
    margin-left: 60px;
    border-left: 4px solid rgb(4, 91, 1);
    padding-right: 900px;
    border-radius: 4px;
    font-size: 40px;
   
}

.movie-card{
    overflow-x: auto; 
    white-space: nowrap; 
    width: fit-content; 
    border-radius: 2em;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%; 
}
h3{
    margin: 20px;
    color: rgb(147, 147, 147);
}


.inside{
    display: inline-block;
    padding: 10px;
    border-left: 3px solid rgb(4, 91, 1);
    border-bottom: 3px solid rgb(4, 91, 1);
    border-radius: 15px;
    margin: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.caption p{
    color: rgb(4, 91, 1);
}
.genre{
  display: inline-block;
    color: rgb(4, 91, 1);
    font-size: 1.5em;
    font-weight: bold;

}
.listGenre{
    display: inline-block;
    color: rgb(4, 91, 1);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
}


 
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}